@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --purple: #AA14F0;
    --white: #EAF2FA;
    --black: #000000;
    --grey: #5C88AE;
}

* {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--white);
}

/* ========== Header ========== */
.header {
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    height: 80px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    color: var(--black);
    transition: all linear .7s;
    
    z-index: 99;
}

.header.sticky-scroll {
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    color: var(--grey);
}

.nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.nav ul li:not(:last-child) {
    margin-right: 2rem;
}

.nav ul li {
    position: relative;
}

.nav ul li:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    max-width: 80%;
    width: 0;
    height: 3px;
    left: 10%;
    bottom: -15%;
    background-color: var(--grey);
    transition: all .7s ease;
}
.nav ul li:hover:after {
    width: 100%;
}

.nav ul li a {
    text-decoration: none;
    color: var(--black);
    transition: color linear .3s;
}
.nav ul li a:hover {
    color: var(--grey);
}

.btn {
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: var(--purple);
    color: var(--white);
    transition: opacity ease .7s;
}
.btn:hover {
    opacity: .8;
}

/* ========== Hamburger menu ========== */
.hamburger:hover {
    background: none;
}
.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background-color: var(--grey);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.5s;
}
.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--purple);
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}
.hamburger.is-active span:nth-child(2) {
    transform: translateX(15px);
    opacity: 0;
}

.hamburger.is-active:hover span {
    background-color: var(--purple);
}

.hamburger {
    display: none;
}

/* ========== Hero section ========== */
.hero-section {
    min-height: 80vh;
    background: linear-gradient(0deg, #000000cc, #5c88aecc), url(https://images.unsplash.com/photo-1488376739361-ed24c9beb6d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.branding {
    font-size: 4rem;
    margin: 0;
    user-select: none;
}

.des {
    font-size: .9rem;
    user-select: none;
}

.btn-action {
    padding: 10px 20px;
    margin-top: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--purple);
    border-radius: 30px;
    border: 3px solid var(--purple);
    background: none;
    transition: all .7s ease-out;
}

.btn-action:hover, .btn-action:active {
    cursor: pointer;
    transform: scale(1.1);
    background-color: var(--purple);
    color: var(--white);
}


/* ========== Scroll ========== */
::-webkit-scrollbar {
    display: none;
}

.progress {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 25px;
    right: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    place-items: center;
    z-index: 90;
}

.progress-value {
    display: block;
    height: calc(100% - 5px);
    width: calc(100% - 5px);
    background-color: #1c1f25;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.progress-value p {
    background-color: rgba(0, 0, 0, 0);
    color: var(--grey);
    user-select: none;
    font-weight: bold;
    font-size: 15px;
}

/* ========== Responsive ========== */
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 768px) {
    .nav, .btn.btn-nav {
        display: none;
    }

    .header {
        justify-content: space-between;
        padding: 40px;
    }

    .hamburger {
        display: block;
        position: relative;
        z-index: 15;
        
        user-select: none;
        background: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        z-index: 99;
        border: none;
    }


}